
.container
  %span
    Single page react-rails calculator
    Dan Sadaka. 03/28/2018

  .phone
    .camera
    .camera_lens
    .mark
    .speaker
    .screen
      .topbar
        %i.fa.fa-wifi
        %span= Time.now.strftime('%H:%M')
      #calculator.calculator

  .lock
  .volume

= javascript_pack_tag 'calc'
